* 
{
  /* So 100% means 100% */
  box-sizing: border-box;
}

body
{
	font-family: "Times New Roman", Times, serif;
	letter-spacing: 0.5px;
	min-height: 100vh;
}

.fullPage
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.flexVertical
{
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-direction: column; /* Safari */
	flex-direction:         column;
}

.flexHorizontal
{
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-direction: row; /* Safari */
	flex-direction:         row;
}

.preProcessHidden
{
	display: none;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img 
{
	width: 100%;
	margin: auto;
}

.inline-list
{
	display: inline;
	padding: 0px;
}

.inline-list > li
{
	display: inline;
}

.delButtonLink
{
	color: red;
	font-weight: bold;
	text-decoration: none;
	font-size: 1.2em;
}

.delButtonLink > span
{
	color: red;
	margin-left: 0.2em;
	margin-right: 0.2em;
}

.delButtonLink:hover, .delButtonLink:visited, .delButtonLink:link, .delButtonLink:active
{
	background-color: rgb(235, 235, 235);
	text-decoration: none;
}

.yk-dropdown-header
{
	border-bottom: 2px solid #f0f0f0;
	color: rgb(160, 160, 160);
	font-weight: bold;
	font-size: 0.8em;
	margin-bottom: 0.5em;
	padding: 0em 0.5em;
	text-align: center;
}

.yk-dropdown-footer
{
	border-top: 2px solid #f0f0f0;
	color: rgb(160, 160, 160);
	font-weight: bold;
	font-size: 0.8em;
	margin-top: 0.5em;
	padding: 0em 0.5em;
	text-align: center;
}

.yk-nav-list
{
	list-style: none;
	padding-left: 1em;
}

.yk-nav-list > li > a
{
	padding: 0.6em 0.6em;
	text-decoration: none;
	display: block;
}

.yk-nav-list > li > a:hover, a:focus
{
	background-color: #eee;
	border-radius: 0.4em;
}

.stateHighlight
{
	background-color: #eee;
	border-radius: 0.4em;
}

.yk-icon-link
{
	font-size: 1.5em; 
	text-decoration: none;
}

.yk-icon-link > i
{
	padding: 0.3em;	
	border-radius: 0.2em;
}

.yk-icon-link i:hover
{
	background-color: #eee;
}

.model-form select, input, textarea
{
	width: 100%;
	border: solid 1px rgb(44, 119, 243);
	height: 2em;
	padding: 0.2em 0.5em;
	border-radius: 0.5em;
	outline: 0;
	min-width: 15em;
}

.yk-field-label
{
	font: bold 14px "Times New Roman", Times, serif;
}

.yk-field-label-mandatory
{
	color: red;
}

.yk-info-message
{
	margin-left: auto;
	margin-right: auto;
	padding: 0.6em;
	padding-right: 3em;
	padding-left: 2em;
	font: bold 12px "Times New Roman", Times, serif;
	background-color: yellow;
	color: black;
	border: solid 1px black;
	position: absolute;
	top: 0.1em;
	z-index: 1000;
	left: 50%;
	transform: translate(-50%, 0px);
	display: none;
	border-radius: 0.8em;
	max-width: 40em;
	position: fixed;
}

.yk-info-close-button
{
	position: absolute; 
	right: 0.5em; 
	top: 0.2em;
	border: none;
	background: none;
	font-size: 1.5em;
	font-weight: bold;
}

button.yk-info-close-button:hover
{
	background-color: red;
	border-radius: 1em;
	color: white;
}

.yk-field-error
{
	padding: 0px;
	color: red;
	font: bold 10px "Times New Roman", Times, serif;
}

.model-form-date
{
	border: solid 1px rgb(44, 119, 243);
	border-radius: 0.5em;
	outline: 0;
	min-width: 15em;
	border-right: none;
}

.model-form-date input
{
	border: none;
	border-radius: 0.5em;
	min-width: 10em;
	height: 2em;
}

.model-form-date span.input-group-addon
{
	border: solid 1px rgb(44, 119, 243);
	border-radius: 0.5em;
}

.popupIconsContainer
{
	position: absolute; 
	display: none;
	background-color: white;
	border: 1px solid blue;
	border-radius: 0.5em;
}

.slideImageActive
{
	display: inline-block;
}

.slideImageInactive
{
	display: none;
}

.slideImageNavBut
{
	padding: 0.5em;
	position: absolute; 
	top: 50%; 
	background-color: rgba(220, 220, 220, 0.6);
	cursor: pointer;
}

.slideImageNavBut > span
{
	color: rgba(255,255,255, 0.5);
}

.vtab
{
	background-color: black;
	font: bold 1em "Times New Roman", Times, serif;
	color: white;
	padding: 0.5em;
	cursor: pointer;
}

.vtab-active
{
	background-color: white;
	font: bold 1em "Times New Roman", Times, serif;
	color: black;
	padding: 0.5em;
	cursor: default;
}

.vtabMainContainer
{
	border: 1px solid black; 
	white-space: nowrap;
}

.vtabContentContainer
{
	vertical-align: top;
}

.vtabContainer
{
	background-color: black;
	vertical-align: top;
}

.yk-image-field
{
	border: 1px solid blue;
	padding-top: 25%;
	cursor: pointer;
}

.yk-image-field-mssg
{
	border: 1px dotted blue;
	color: gray;
	text-align: center;
	vertical-align: middle;
	margin: 0.5em;
	font-size: 0.8em;
}

.yk-background-cover
{
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	
	background-repeat: no-repeat;
}

.yk-tab-button
{
	font-weight: 1.2em;
	font-weight: bold;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-decoration: none;
	border-left: 1px solid;
	border-right: 1px solid;
}
