<div ng-controller="webutilsCommonController">

	<!-- ALERT BOX -->
	<div class="modal fade" id="webutilsAlertDialog" tabindex="-1" role="dialog" data-backdrop="static">
		<div class="modal-dialog" role="document" style="max-width: 50em;">
			<div class="modal-content">
				<!-- Content -->
				<div class="modal-body" style="padding: 1.5em;">
					<div>
					</div>
				</div>
				
				<!-- Footer -->
				<div class="modal-footer" style="padding: 0.5em;">
					<button type="button" class="btn btn-primary action-button" ng-click="closeAlert()">Okay</button>
				</div>
			</div>
		</div>
	</div>
	<!-- END OF ALERT BOX -->
	
	<!-- CONFIRM BOX -->
	<div class="modal fade" id="webutilsConfirmDialog" tabindex="-1" role="dialog" data-backdrop="static">
		<div class="modal-dialog" role="document" style="max-width: 50em;">
			<div class="modal-content">
				<!-- Content -->
				<div class="modal-body" style="padding: 1.5em;">
					<div>
					</div>
				</div>
				
				<!-- Footer -->
				<div class="modal-footer" style="padding: 0.5em;">
					<button type="button" class="btn btn-primary action-button" ng-click="closeConfirm()">Yes</button>
					<button type="button" class="btn btn-danger cancel-button" ng-click="cancelConfirm()">No</button>
				</div>
			</div>
		</div>
	</div>
	<!-- END OF CONFIRM BOX -->
	
	<!-- Info BOX -->
	<div class="yk-info-message" id="webutilsInfoBox" >
		<div class="content" style="width: 100%;">
		</div>
		<button type="button" class="yk-info-close-button" aria-label="Close" ng-click="closeInfo()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<!-- End of Info BOX -->

	<!-- In Progress Dialog -->
	<div class="modal fade" id="webutilsInProgressDialog" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<!-- Content -->
				<div class="modal-body" style="padding: 1.5em; text-align: center;">
					<img alt="In Progress..." src="{{getAppConfiguration('loadingIcon')}}"/>
					<span style="font-weight: bold; font-size: 1em; margin-left: 2em;">Please wait! Work in progress...</span>
				</div>
			</div>
		</div>
	</div>
	<!-- End of In progress dialog -->
</div>