<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/cache 
        http://www.springframework.org/schema/cache/spring-cache.xsd
        http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<aop:aspectj-autoproxy proxy-target-class="true"/>
	<aop:config proxy-target-class="true"/>

	<!--  
	<cache:annotation-driven />
	-->
	
	<context:component-scan base-package="com.yukthitech" />
	
	<mvc:interceptors>
		<bean class="com.yukthitech.webutils.security.SecurityInterceptor">
		</bean>
	</mvc:interceptors>
	
	<bean class="com.yukthitech.webutils.WebutilsPropertyPlaceholder">
   		<property name="locations">
   			<list>
				<value>classpath:/default-application.properties</value>
   				<value>classpath:/application.properties</value>
   			</list>
   		</property>
	</bean>

	<bean id="labelsMessageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<value>classpath:labels-*</value>
		</property>	
	</bean>

	<bean id="validatorMessageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<value>classpath:ValidationMessages</value>
		</property>
	</bean>

	<bean id="defaultValuesMessageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<value>classpath:default-values</value>
		</property>
	</bean>

	<bean id="timezone" class="java.util.TimeZone" factory-method="getTimeZone">
		<constructor-arg type="java.lang.String" value="IST"/>
	</bean>

	<bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper">
		<property name="dateFormat">
			<bean class="java.text.SimpleDateFormat">
				<constructor-arg type="java.lang.String" value="dd/MM/yyyy"></constructor-arg>
			</bean>
		</property>
		<property name="timeZone">
			<ref bean="timezone"/>
		</property>
	</bean>
	
	<bean id="jsonMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="objectMapper">
			<ref bean="objectMapper" />
		</property>
	</bean>

	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<ref bean="jsonMessageConverter" />
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- ********************************************************************************** -->
	<!-- Used for service method result caching -->
	<!-- ********************************************************************************** -->
	<bean id="cacheManager" class="com.yukthitech.webutils.cache.WebutilsSpringCacheManager">
	</bean>

	<bean id ="cacheResolver" class="com.yukthitech.webutils.cache.WebutilsCacheResolver"/>
	<bean id ="cahceKeyGenerator" class="com.yukthitech.webutils.cache.CacheKeyGenerator"/>
	<bean id ="cahceEvictKeyGenerator" class="com.yukthitech.webutils.cache.CacheEvictKeyGenerator"/>
	
	<!-- ********************************************************************************** -->
	<!-- ********************************************************************************** -->

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />

	<!--  
	<bean id="emailServiceConfig" class="com.yukthitech.webutils.mail.EmailServiceConfiguration">
		<property name="smtpHost" value="${webutils.mail.smtp.host}"/>
		<property name="smtpPort" value="${webutils.mail.smtp.port}"/>
		<property name="useAuthentication" value="${webutils.mail.smtp.useAuth:true}"/>
		<property name="userName" value="${webutils.mail.smtp.user}"/>
		<property name="password" value="${webutils.mail.smtp.password}"/>
		<property name="enableTtls" value="${webutils.mail.smtp.enableTtls:false}"/>
	</bean>
	-->	

	<bean id="webutilsConfiguration" class="com.yukthitech.webutils.WebutilsConfiguration">
		<property name="extensionsRequired" value="${app.extensions.enabled:false}"/>
		<property name="authEnabled" value="${app.auth.enabled:true}"/>
		
		<property name="dateFormat" value="${app.date.format:dd/MM/yyyy}"/>
		<property name="jsDateFormat" value="${app.js.date.format:DD/MM/YYYY}"/>
		
		<property name="protectedBaseUri" value="${webutils.auth.protectedBaseUri:}"/>
		<property name="freeBaseUri" value="${webutils.auth.freeBaseUri:}"/>
		
		<property name="basePackages">
			<list>
				<value>${webutils.app.base.package}</value>
			</list>
		</property>
	</bean>
</beans>