<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/test?autoReconnect=true&amp;useFastDateParsing=false" />
		<property name="username" value="kranthi" />
		<property name="password" value="kranthi" />
	</bean>

	<bean id="emailServerSettings" class="com.yukthitech.webutils.common.models.mails.EmailServerSettings">
		<property name="smtpHost" value="smtp.gmail.com" />
		<property name="smtpPort" value="587" />
		<property name="useAuthentication" value="true" />
		<property name="userName" value="yukthitestmail@gmail.com" />
		<property name="password" value="yukthi@home" />
		<property name="enableTtls" value="true" />
		
		<property name="readProtocol" value="IMAPS" />
		<property name="readHost" value="imap.gmail.com" />
	</bean>

	<bean id="repositoryFactory" class="com.yukthitech.persistence.repository.RepositoryFactory">
		<property name="createTables" value="true" />
		
		<property name="dataStore">
			<bean class="com.yukthitech.persistence.rdbms.RdbmsDataStore">
				<constructor-arg type="java.lang.String" value="mysql"></constructor-arg>
				
				<property name="dataSource" ref="dataSource"/>
			</bean>
		</property>
	</bean>

	<context:component-scan base-package="com.test" />

</beans>