<directives>
	<!--
		Input field for data properties, which will bind 2-way with angular scope. 
	 -->
	<directive name="ykDateField" required-attr="name, label, ng-model">
		<content>
			<set-var name="_readOnly" 
				expr="context.attr('yk-read-only')? context.attr('yk-read-only') : 'false'"/>
			<set-var name="_onChange" 
				expr="context.attr('ng-change')? context.attr('ng-change') : ''"/>

			<div class="form-group" style="margin-bottom: 0px;">
				<div class="model-form-date input-group date">
					<input type="text" class="form-control" name="${attr('name')}" placeholder="${attr('label')}" 
						ng-model="${attr('ng-model')}" yk-read-only="${_readOnly}" ng-change="${_onChange}"></input>
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>								
		</content>

		<post-script>
			var dateFormat = context.$scope.activeUser.jsDateFormat;
			var element = $(context.$result).find("div.date");
			element = $(element);
			
			element.datetimepicker({
				"format" : dateFormat
			});
			
			element.off("dp.change").on("dp.change", $.proxy(function(event){
				this.element.find("input").trigger("change");
			}, {"element": element, "$scope" : context.$scope}));
		</post-script>
	</directive>

	<directive name="ykComboBox" required-attr="id,ng-items-model,ng-model">
		<content>
			<set-var name="_textWidth" 
				expr="context.attr('text-width')? context.attr('text-width') : '5em'"/>
			<set-var name="_label" 
				expr="context.attr('label')? context.attr('label') : ''"/>
				
			<set-var name="_buttonClass" 
				expr="context.attr('button-class')? context.attr('button-class') : ''"/>

			<set-var name="_labelExpr" 
				expr="context.attr('label-property')? '.' + context.attr('label-property') : ''"/>

			<div class="input-group">
				<input type="text" class="form-control" aria-label="..." style="width: ${_textWidth};" readonly="readonly" value="{{${attr('ng-model')}${_labelExpr}}}"/>
				<div class="input-group-btn">
					<button type="button" class="btn ${_buttonClass} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						${_label} <span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right">
					    <li ng-repeat="item in ${ng-items-model}"><a ng-click="_combonLinkOnClick_${id}(item)">{{ item${_labelExpr} }}</a></li>
					</ul>
				</div>
				<!-- /btn-group -->
			</div>
			<!-- /input-group -->

		</content>

		<post-script>
			/*
			context.$scope["_combonLinkOnClick_" + context.attr("id")] = $scope.proxy(function(item) {
				var $scope = this.$scope;
				eval("$scope." + this.model + " = item");
				
			}, {
				"model": context.$scope.attr("ng-model"),
				"onClick": context.$scope.attr("ng-click"),
				"$scope": context.$scope
			});
			
			var inputElement = $(context.$result).find("input[type='text']");
			inputElement = ${inputElement};
			
			var anchorElements = $(context.$result).find("a[item-value]");
			anchorElements = $(anchorElements);
			
			anchorElements.off("click").on("click", $.proxy(function(event){
				this.element.find("input").trigger("change");
			}, {"element": element, "$scope" : context.$scope}));
			*/
		</post-script>
	</directive>

</directives>