<directives>
	<directive name="ykField">
		<content>
			<set-var name="_idAttr" expr="context.attributes.id ? context.attributes.id : ''"/>
			<set-var name="_typeAttr" expr="context.attributes.type ? context.attributes.type : ''"/>
			<set-var name="_modelAttr" expr="context.attributes.model ? context.attributes.model : ''"/>
			<set-var name="_nameAttr" expr="context.attributes.name ? context.attributes.name : (context.attributes.model ? context.attributes.model : '')"/>
			
			<div class="form-group">
				<label for="${_nameAttr}" class="col-md-3 control-label">${attributes.label}</label>
				<div class="col-md-9" style="padding-left: 0.5em;">
					<input type="${_typeAttr}" class="form-control" 
						id="${_idAttr}" name="${_nameAttr}" 
						placeholder="${attributes.label}" ng-model="${_modelAttr}"/>
				</div>
			</div>
		</content>
	</directive>
	
	<directive name="ykImageSlider" required-attr="id, dataattr, width, height">
		<content>
			<set-var name="_idAttr" expr="context.attributes.id"/>
			<set-var name="_dataAttr" expr="context.attributes.dataattr"/>

			<div class="container" style="width: ${attributes.width};height: ${attributes.height};">
				<br/>
				<div id="${_idAttr}" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" ng-repeat="slideImage in ${_dataAttr}" data-slide-to="{{$index}}" class="{{$first ? 'active' : ''}}"></li>
					</ol>
			
					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">

						<div ng-repeat="slideImage in ${_dataAttr}" class="item {{$first ? 'active' : ''}}">
							<img src="{{slideImage.imagePath}}" style="height: ${attributes.height}"/>
							<div class="carousel-caption" ng-bind-html="slideImage.caption">
						    </div>
						</div>
					</div>
			
					<!-- Left and right controls -->
					<a class="left carousel-control" href="#${_idAttr}" role="button" data-slide="prev" style="width: 2em;"> 
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 
						<span class="sr-only">Previous</span>
					</a> 
					<a class="right carousel-control" href="#${_idAttr}" role="button" data-slide="next" style="width: 2em;"> 
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</content>
	</directive>
	
	<attr-directive name="ykHideFrom">
		<script>
			var hideFrom = context.attributeValue;
            var curCssClasses = context.element.attr("class");

            //if no classes are defined
            if (!curCssClasses)
            {
	            curCssClasses = "";
            }

            if (hideFrom == "xs")
            {
	            curCssClasses += " hidden-xs";
            } else if (hideFrom == "sm")
            {
	            curCssClasses += " hidden-xs hidden-sm";
            } else if (hideFrom == "md")
            {
	            curCssClasses += " hidden-xs hidden-sm hidden-md";
            } else
            {
	            console.error("Invalid yk-hide-from value specified - " + hideFrom);
	            return;
            }

            context.element.attr("class", curCssClasses);
		</script>
	</attr-directive>
</directives>