<directives>
	<directive name="ykField">
		<content>
			<set-var name="_idAttr" expr="context.attributes.id ? context.attributes.id : ''"/>
			<set-var name="_typeAttr" expr="context.attributes.type ? context.attributes.type : ''"/>
			<set-var name="_modelAttr" expr="context.attributes.model ? context.attributes.model : ''"/>
			<set-var name="_nameAttr" expr="context.attributes.name ? context.attributes.name : (context.attributes.model ? context.attributes.model : '')"/>
			
			<div class="form-group">
				<label for="${_nameAttr}" class="col-md-4 control-label">${attributes.label}</label>
				<div class="col-md-8" style="padding-left: 0.5em;">
					<input type="${_typeAttr}" class="form-control" 
						id="${_idAttr}" name="${_nameAttr}" 
						placeholder="${attributes.label}" ng-model="${_modelAttr}"/>
				</div>
			</div>
		</content>
	</directive>
	
	<directive name="ykImageSlider" required-attr="id, dataattr, width, height">
		<content>
			<set-var name="_idAttr" expr="context.attributes.id"/>
			<set-var name="_dataAttr" expr="context.attributes.dataattr"/>

			<div class="container" style="width: ${attributes.width};height: ${attributes.height};">
				<br/>
				<div id="${_idAttr}" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" ng-repeat="slideImage in ${_dataAttr}" data-slide-to="{{$index}}" class="{{$first ? 'active' : ''}}"></li>
					</ol>
			
					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">

						<div ng-repeat="slideImage in ${_dataAttr}" class="item {{$first ? 'active' : ''}}">
							<img src="{{slideImage.imagePath}}" style="height: ${attributes.height}"/>
							<div class="carousel-caption" ng-bind-html="slideImage.caption">
						    </div>
						</div>
					</div>
			
					<!-- Left and right controls -->
					<a class="left carousel-control" href="#${_idAttr}" role="button" data-slide="prev" style="width: 2em;"> 
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 
						<span class="sr-only">Previous</span>
					</a> 
					<a class="right carousel-control" href="#${_idAttr}" role="button" data-slide="next" style="width: 2em;"> 
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</content>
	</directive>
	
	<directive name="ykDropDown" required-attr="id, icon">
		<content>
			<set-var name="_label" expr="context.flexAttr('label')"/>
			<set-var name="_header" expr="context.flexAttr('header')"/>
			<set-var name="_footer" expr="context.flexAttr('footer')"/>
			<set-var name="_content" expr="context.element.find('content').html()"/>
			
			<div class="dropdown" style="display: inline;">
				<a id="${attributes.id}" style="text-decoration: none;" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<i class="glyphicon appIcon ${attributes.icon}" style="color: ${attr('icon-color','')};font-weight: bold;" aria-hidden="true"></i>
					${_label}
				</a>
				
				<div id="${attributes.id}-dropdown" class="dropdown-menu dropdown-menu-right" aria-labelledby="${attributes.id}">
					<if test="context._header.length > 0">
						<div class="yk-dropdown-header">
							${_header}
						</div>
					</if>
					${_content}
					<if test="context._footer.length > 0">
						<div class="yk-dropdown-footer">
							${_footer}
						</div>
					</if>
				</div>
			</div>

		</content>
	</directive>

	<directive name="ykTabs">

		<content>
			<set-var name="_tabs" expr="context.element.find('tab')"/>
			
			<set-var name="_footer" expr="context.flexAttr('footer')"/>
			<set-var name="_content" expr="context.element.find('content').html()"/>
			
			<div>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<for-each data="${_tabs}" loop-var="tab" index-var="tabIdx">
						<set-var name="_tab" expr="$(context.tab)"/>
						<set-var name="_tabId" expr="context._tab.attr('id')"/>
						<set-var name="_tabActive" expr="context.tabIdx == 0 ? 'active' : ''"/>
						
						<li role="presentation" class="${_tabActive}">
							<a id="${_tabId}_tab" ui-sref="${_tab.attr('state')}" href="#${_tabId}" onfocus="blur()" data-target="#${_tabId}" data-toggle="tab">
								<if test="context.attr('icon', null, context._tab)">
									<i class="glyphicon appIcon ${_tab.attr('icon')}" style="color: ${attr('icon-color', '', context._tab)};font-weight: bold;" aria-hidden="true"></i>
								</if>
								${_tab.attr('label')}
							</a>
						</li>
					</for-each>
				</ul>
			
				<!-- Tab panes -->
				<div class="tab-content" style="height: 0.3em;">
					<for-each data="${_tabs}" loop-var="tab" index-var="tabIdx">
						<set-var name="_tab" expr="$(context.tab)"/>
						<set-var name="_tabActive" expr="context.tabIdx == 0 ? 'active' : ''"/>
						<set-var name="_tabContent" expr="context._tab.html()"/>
						
						<div role="tabpanel" class="tab-pane ${_tabActive}" id="${_tab.attr('id')}" ui-view="${_tab.attr('view')}" style="padding: 0.5em;">
							${_tabContent}
						</div>

					</for-each>
				</div>
			</div>
		</content>
	</directive>


	<directive name="ykNavTree">
		<content>
			<exe-script>
				context.executeTemplate({
					"parent" : context.element
				}, "processTreeItems");
			</exe-script>
		</content>
	</directive>
	
	<template name="processTreeItems">
		<set-var name="_items" expr="context.parent.children('tree-item')"/>
		
		<if test="context._items.length &lt;= 0">
			<return/>
		</if>
		
		<ul class="yk-nav-list">
			<for-each data="${_items}" loop-var="item" index-var="itemIdx">
				<set-var name="_item" expr="$(context.item)"/>
				
				<li role="presentation">
					<a id="${_item.attr('id')}" ui-sref="${_item.attr('state')}">
						${_item.attr('label')}
					</a>
		
					<exe-script>
						context.executeTemplate({
							"parent" : context._item
						}, "processTreeItems");
					</exe-script>
				</li>
			</for-each>
		</ul>
	</template>

	<directive name="ykSearchQuery" required-attr="id, name, title">
		<content>
			<exe-script var="_tmp">
				var response = null;
				var name = context.attr("name");
				try
				{
					response = context.invokeAction("search.fetch.queryDef", null, {"name" : name});
				}catch(ex)
				{
					console.error("Invalid search query name specified - " + name);
					console.error(ex);
					
					throw "Invalid search query name specified - " + name;
				}
				
				if(!response.modelDef)
				{
					console.error("Failed to fetch search query def from server - " + name);
					throw "Invalid search query name specified - " + name;
				}

				context["searchModel"] = response.modelDef;
				
				//set the actions on context
				var actions = context.element.children("action");
				
				if(actions.length &gt; 0)
				{
					context["actions"] = context.element.children("action");
				}
				else
				{
					context["actions"] = null;
				}
			</exe-script>
			
			<set-var name="_showQuery" expr=" (context.attr('hide-query') == 'true') ? false : true"/>
			
			<div id="${attr('id')}" class="container-fluid" style="padding: 0px; margin: 0px" ng-controller="searchQueryController">
				<if test="context._showQuery">
					<div class="panel panel-default" style="margin-bottom: 0.4em;" ng-init="searchQueryId = '${attr('id')}'">
						<div class="panel-heading" style="padding: 0.3em 1em; font-weight: bold;">
							${attr('title')}
						</div>
		
						<div class="panel-body"  yk-model="${searchModel.name}" ng-init="searchQueryName = '${attr('name')}'">
							<form>
								<div class="row">
									<for-each data="${searchModel.fields}" loop-var="field" index-var="idx">
										<if test="context.idx != 0 &amp;&amp; (context.idx % 3) == 0"><![CDATA[
											</div>
											<div class="row" style="padding-bottom: 0.5em">
										]]></if>
										
										<div class="col-md-4 col-xs-12" style="padding-bottom: 0.2em;">
											<model-field name="${field.name}" modelobj="searchQuery"></model-field>
										</div>
									</for-each>
								</div>
								
								<div class="row" style="text-align: right; padding-right: 2em;">
									<!-- Submit button is added to support enter key in search form. This will be hidden.
										Instead iconic link button will be used for click 
									 -->
									<input type="submit" value="Search" style="display: none;" yk-click="performSearch($event)"/>
									
									<a class="btn btn-primary" role="button" yk-click="performSearch($event)">
										<i class="glyphicon glyphicon-search"></i>
										Search
									</a>
								</div>
							</form>
						</div>
					</div>
				</if>
				
				<div class="row">
					<if test="context.actions">
						<div class="col-xs-12" style="text-align: right; padding-bottom: 0.4em;">
							<for-each data="${actions}" loop-var="action" index-var="actionIdx">
								<set-var name="_action" expr="$(context.action)"/>
								<set-var name="_label" expr="context._action.attr('label') ? context._action.attr('label') : ''"/>
								
								<a role="button" ng-click="${_action.attr('method')}" style="text-decoration: none; color: ${_action.attr('color')};" class="yk-icon-link" 
											data-toggle="tooltip" title="${_action.attr('label')}">
									<i class="glyphicon ${_action.attr('icon')}"></i>
								</a>
							</for-each>
						</div>
					</if>
				</div>
	
				<div class="panel panel-default">
					<div class="panel-heading" style="padding: 0.3em 1em; font-weight: bold;">
						${attr('title')} - Results
					</div>
	
					<div class="panel-body table-responsive"  yk-model="${searchModel.name}" style="padding: 0px;">
						<table class="table table-striped table-bordered table-hover searchResults" ng-if="searchResults.length &gt; 0">
							<!-- Headings row -->
							<tr>
								<th>#</th>
								<th ng-repeat="field in searchResultDef.fields" ng-if="field.displayable">
									{{field.label}}
								</th>
							</tr>
							
							<tr ng-repeat="result in searchResults" ng-click="rowSelected($index)" search-row-id="{{$index}}" style="cursor: pointer;">
								<td>{{$index + 1}}</td>
								<td ng-repeat="field in searchResultDef.fields" ng-if="field.displayable">
									{{result[field.name]}}
								</td>
							</tr>
						</table>
						
						<div ng-if="searchResults.length &lt;= 0" style="margin: 0.5em;">No records found for specified criteria.</div>
					</div>
				</div>
			</div>
		</content>
	</directive>

	<directive name="ykDialog" required-attr="id, title">
		<content>
			<set-var name="_size" expr="(context.attr('size') == 'small') ? 'modal-sm' : 'modal-lg'"/>
			<set-var name="_content" expr="context.element.find('content').html()"/>
			<set-var name="_footer" expr="context.element.find('footer').html()"/>
			
			<div class="modal fade" id="${attr('id')}" tabindex="-1" role="dialog" data-backdrop="static">
				<div class="modal-dialog ${_size}" role="document">
					<div class="modal-content">
						<!-- Header -->
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&amp;times;</span>
							</button>
							<h4 class="modal-title">${attr('title')}</h4>
						</div>
						
						<!-- Content -->
						<div class="modal-body">
							${_content}
						</div>
						
						<!-- Footer -->
						<div class="modal-footer">
							${_footer}
						</div>
					</div>
				</div>
			</div>

		</content>
	</directive>

	<directive name="ykModelDialog" required-attr="id, name, columns, title, actionmethod">
		<content>
			<set-var name="_size" expr="(context.attr('size') == 'small') ? 'modal-sm' : 'modal-lg'"/>
			
			<div class="modal fade" id="${attr('id')}" tabindex="-1" role="dialog" data-backdrop="static">
				<div class="modal-dialog ${_size}" role="document">
					<div class="modal-content">
						<!-- Header -->
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&amp;times;</span>
							</button>
							<h4 class="modal-title">${attr('title')}</h4>
						</div>
						
						<!-- Content -->
						<div class="modal-body" yk-model="${attr('name')}">
							<yk-model-form name="${attr('name')}" columns="${attr('columns')}"></yk-model-form>
						</div>
						
						<!-- Footer -->
						<div class="modal-footer">
							<button type="button" class="btn btn-primary action-button" ng-click="${attr('actionMethod')}">{{newModelMode ? 'Save' : 'Update'}}</button>
							<button type="button" class="btn btn-danger cancel-button" data-dismiss="modal">Cancel</button>
						</div>
					</div>
				</div>
			</div>

		</content>
	</directive>

	<directive name="ykModelForm" required-attr="name, columns">
		<content>
			<exe-script var="_tmp">
				var modelName = context.attr('name');
				var modelDefResponse = context.invokeAction('modelDef.fetch', null, {"name": modelName});
				
				if(!modelDefResponse || !modelDefResponse.modelDef)
				{
					throw "Invalid model name specified - " + modelName;
				}
	
				var modelDef = modelDefResponse.modelDef;
				context["modelDef"] = modelDef;
				
				
				var columnCount = parseInt(context.attr('columns'));
				columnCount = (columnCount &gt; 3) ? 3 : columnCount;
				columnCount = (columnCount &lt; 1) ? 1 : columnCount;
				
				context["columnCount"] = columnCount;
				context["columnCountClass"] = "col-md-" + (12 / columnCount);
				
				if(!context["$scope"].model)
				{
					context["$scope"].model = {};
				}
				
				context["colIndex"] = 0;
			</exe-script>
			
			<div class="container-fluid" yk-model="${attr('name')}">
				<div class="row">
					<for-each data="${modelDef.fields}" loop-var="field" index-var="idx">
						<if test="!context.field.displayable">
							<continue/>
						</if>
					
						<if test="context.colIndex != 0 &amp;&amp; (context.colIndex % context.columnCount) == 0"><![CDATA[
							</div>
							<div class="row">
						]]></if>
						
						<div class="${columnCountClass} col-xs-12" style="padding-bottom: 0.2em;">
							<model-field name="${field.name}" modelobj="model"></model-field>
						</div>
						
						<exe-script var="_tmp">
							context["colIndex"]++;
						</exe-script>
						
					</for-each>
				</div>							
			</div>
		</content>
	</directive>

	<!-- 
		Fetches the specified model from the server and its as modelDef attribute to current 
		$scope. Which in turn can be used by yk-model-field
	 -->
	<attr-directive name="ykModel" recompile="true">
		<script>
			var modelName = context.attributeValue;
			var modelDefResponse = context.invokeAction('modelDef.fetch', null, {"name": modelName});
			
			if(!modelDefResponse || !modelDefResponse.modelDef)
			{
				throw "Invalid model name specified - " + modelName;
			}

			var modelDef = modelDefResponse.modelDef;
			
			modelDef.fieldMap = {};
			
			for(var i = 0; i &lt; modelDef.fields.length; i++)
			{
				modelDef.fieldMap[ modelDef.fields[i].name ] = modelDef.fields[i];
			}
			
			context["$scope"].modelDef = modelDef;
			
			context.element.find("model-field").each(function(idx){
				var element = $(this);
				var name = element.attr("name");
				var modelobj = element.attr("modelobj");
				
				if(!modelobj)
				{
					modelobj = "";
				}
				
				element.replaceWith("&lt;yk-model-field name=\"" + name + "\"  modelobj=\"" + modelobj + "\"  &gt; &lt;/yk-model-field&gt;");
			});
		</script>
	</attr-directive>

	<directive name="ykModelField" required-attr="name">
		<content>
			<exe-script var="_tmp">
				var modelDef = context["$scope"].modelDef;
				var name = context.attr('name');
				
				if(!modelDef)
				{
					throw "No model is defined for yk-model-field with name - " + name;
				}
				
				var fieldDef = modelDef.fieldMap[name];
				
				if(!fieldDef)
				{
					throw "Invalid field name specified under yk-model-field. No field with name '" + name + "' exists under model - " + modelDef.name;
				}
				
				var modelPrefix = context.attr('modelobj');
				
				if(modelPrefix &amp;&amp; modelPrefix.length &gt; 0)
				{
					context["modelField"] = modelPrefix + "." + name;
				}
				else
				{
					context["modelField"] = name;
				}
				
				context["fieldDef"] = fieldDef;
			</exe-script>
			<div class="row">
				<div class="col-md-6" yk-hide-from="sm">
					${fieldDef.label}
				</div>
				<div  class="col-md-6">
					<if test="context.fieldDef.fieldType == 'STRING'">
						<input type="text" name="${fieldDef.name}" placeholder="${fieldDef.label}" ng-model="${modelField}" yk-read-only="${fieldDef.readOnly}"></input>
					</if>
					<else-if test="context.fieldDef.fieldType == 'MULTI_LINE_STRING'">
						<textarea name="${fieldDef.name}" placeholder="${fieldDef.label}" ng-model="${modelField}" yk-read-only="${fieldDef.readOnly}"></textarea>
					</else-if>
					<else-if test="context.fieldDef.fieldType == 'INTEGER'">
						<input type="number" name="${fieldDef.name}" placeholder="${fieldDef.label}" ng-model="${modelField}"  yk-read-only="${fieldDef.readOnly}"></input>
					</else-if>
					<else-if test="context.fieldDef.fieldType == 'FLOAT'">
						<input type="number" name="${fieldDef.name}" placeholder="${fieldDef.label}" ng-model="${modelField}"  yk-read-only="${fieldDef.readOnly}"></input>
					</else-if>
					<else-if test="context.fieldDef.fieldType == 'BOOLEAN'">
						<select name="${fieldDef.name}" ng-model="${modelField}"  yk-read-only="${fieldDef.readOnly}">
							<option value="" selected=""> -- Select ${fieldDef.label} -- </option>
							<option value="true">True</option>
							<option value="false">False</option>
						</select>
					</else-if>
					<else-if test="context.fieldDef.fieldType == 'DATE'">
						<input type="date" name="${fieldDef.name}" placeholder="${fieldDef.label}" ng-model="${modelField}" yk-read-only="${fieldDef.readOnly}"></input>
					</else-if>
					<else-if test="context.fieldDef.fieldType == 'LIST_OF_VALUES'">
						<yk-lov-field name="${fieldDef.name}" label="${fieldDef.label}" lov="${fieldDef.lovDetails.lovName}" yk-read-only="${fieldDef.readOnly}"
									type="${fieldDef.lovDetails.lovType}" model="${modelField}"></yk-lov-field> 
					</else-if>
					<else-if test="context.fieldDef.fieldType == 'FILE'">
						<input type="file" name="${fieldDef.name}" ng-model="${modelField}" yk-read-only="${fieldDef.readOnly}"></input>
					</else-if>
					<else>
						<exe-script var="_tmp1">
							throw "Unsupported field type encountered - " + context.fieldDef.fieldType;
						</exe-script>
					</else>
				</div>
			</div>
		</content>
	</directive>
	
	<directive name="ykLovField" required-attr="name, label, lov, type">
		<content>
			<exe-script var="_tmp">
				var modelDef = context["$scope"].modelDef;
				var lovName = context.attr('lov');
				var type = context.attr('type');
				var model = context.attr('model');

				if(!model || model.length &gt;= 0)
				{
					context["modelField"] = model; 
				}
				else
				{
					context["modelField"] = context.attr('name');
				}
				
				type = (type == "static" || type == "STATIC_TYPE")? "STATIC_TYPE" : "DYNAMIC_TYPE";
				
				var lovResponse = context.invokeAction('lov.fetch', null, {"name": lovName, "type": type});
				
				if(!lovResponse || !lovResponse.lovList)
				{
					throw "Invalid lov name specified - " + lovName;
				}
	
				var lovList = lovResponse.lovList;
				
				context["lovList"] = lovList;
			</exe-script>
			
			<set-var name="_readOnly" expr="(context.attr('yk-read-only') == 'true') ? 'true' : 'false'"/>
			
			<select name="${attr('name')}"  ng-model="${modelField}" yk-read-only="${_readOnly}">
				<option value="" selected=""> -- Select ${attr('label')} -- </option>
				
				<for-each data="${lovList}" loop-var="lov" index-var="idx">
					<option value="${lov.value}">${lov.label}</option>
				</for-each>
			</select>
		</content>
	</directive>

	<attr-directive name="ykHideFrom">
		<script>
			var hideFrom = context.attributeValue;
            var curCssClasses = context.element.attr("class");

            //if no classes are defined
            if (!curCssClasses)
            {
	            curCssClasses = "";
            }

            if (hideFrom == "xs")
            {
	            curCssClasses += " hidden-xs";
            } else if (hideFrom == "sm")
            {
	            curCssClasses += " hidden-xs hidden-sm";
            } else if (hideFrom == "md")
            {
	            curCssClasses += " hidden-xs hidden-sm hidden-md";
            } else
            {
	            console.error("Invalid yk-hide-from value specified - " + hideFrom);
	            return;
            }

            context.element.attr("class", curCssClasses);
		</script>
	</attr-directive>

	<!--
		Adds ng-repeat with same expression as this attribute value. In some cases ng-repeat may get compiled into a comment which 
		may get removed during directive processing. In order to retain ng-repeat this attribute directive can be used  
	 -->
	<attr-directive name="ykRepeat">
		<script>
			var repeatExpr = context.attributeValue;
			context.element.attr("ng-repeat", repeatExpr);
		</script>
	</attr-directive>

	<attr-directive name="ykRepeatStart">
		<script>
			var repeatExpr = context.attributeValue;
			context.element.attr("ng-repeat-start", repeatExpr);
		</script>
	</attr-directive>

	<attr-directive name="ykClick">
		<script>
			var repeatExpr = context.attributeValue;
			context.element.attr("ng-click", repeatExpr);
		</script>
	</attr-directive>

	<attr-directive name="ykRepeatEnd">
		<script>
			var repeatExpr = context.attributeValue;
			context.element.attr("ng-repeat-end", "");
		</script>
	</attr-directive>

	<attr-directive name="ykFullHeight">
		<script>
		
			var viewportHeight;
			var viewportWidth;
			
			if (document.compatMode === 'BackCompat') 
			{
			    viewportHeight = document.body.clientHeight;
			    viewportWidth = document.body.clientWidth;
			} 
			else 
			{
			    viewportHeight = document.documentElement.clientHeight;
			    viewportWidth = document.documentElement.clientWidth;
			}
		
		
			var attrVal = context.attributeValue;
			var top = context.element.offset().top;
			var docHeight = 0;
			
			if(attrVal == 'document')
			{
				docHeight = viewportHeight;
			}
			else
			{
				docHeight = $(context.element.parent()).height();
			}
			
			var currentStyle = context.element.attr("style");
			
			if(currentStyle &amp;&amp; currentStyle.length > 0)
			{
				currentStyle += ";";
			}
			else
			{
				currentStyle = "";
			}
			
			context.element.attr("style",  currentStyle + "height : " + (docHeight - top) + "px;");
		</script>
	</attr-directive>


</directives>